.grid {
  display: grid;
  grid-gap: 1.25rem;

  &__2-columns {
    grid-template-columns: 1fr;
    grid-gap: 0;

    @mixin atMedium {
      grid-template-columns: 1fr 1fr;
      grid-gap: 7rem;
    }
  }

  &__1fr-2fr-columns {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 2rem;

    @mixin atMedium {
      grid-template-columns: 1fr 2fr;
      grid-gap: 3rem;
    }
  }

  &__3-columns {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 8rem;

    @mixin atMedium {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 3rem;
      align-content: stretch;
    }
  }
}
