.grid {
  display: grid;
  grid-gap: 1.25rem;

  &__2-columns {
    grid-template-columns: 1fr;

    @mixin atSmall {
      grid-template-columns: 1fr 1fr;
      grid-gap: 7rem;
    }
  }

  &__3-columns {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

    @mixin atSmall {
      grid-template-columns: 1fr 2fr;
      grid-gap: 3rem;
    }
  }
}
